.modalEditUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  background: var(--color-white);
  position: relative;
  width: 335px;
  padding-left: 20px;
}

.closeBtn {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeBtnIcon {
  width: 24px;
  height: 24px;
}

.editTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--color-black3);
  margin-top: 40px;
}

.avatarWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  width: 295px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.defaultIcon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.hiddenInput {
  display: none;
}

.btnBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 295px;
  height: 42px;
}

.url {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 30px;
  width: 161px;
  height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  background: var(--color-beige);
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  width: 126px;
  height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.uploadBtn:hover {
  background: var(--color-dark-beige);
}

.uploadIcon {
  width: 18px;
  height: 18px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 295px;
  margin-top: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input {
  display: flex;
  border-radius: 30px;
  padding: 0;
  width: 295px;
  height: 42px !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--color-black);
  padding-left: 12px;
}

.error {
  color: var(--color-red);
  font-size: 14px;
  margin-bottom: -14px;
}

.editBtn {
  margin-top: 21px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 30px;
  width: 295px;
  height: 42px;
  background: var(--color-yellow);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--color-white);
  white-space: nowrap;
}

.editBtn:hover {
  background: var(--color-dark-yellow);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}

input {
  transition: border 0.3s;
}

input:focus,
input.filled {
  border: 1px solid var(--color-yellow);
}

input {
  outline: none;
  border: 1px solid var(--color-dark-gray);
  transition: border-color 0.2s;
}

input:hover {
  border-color: var(--color-yellow);
}

input:focus {
  border-color: var(--color-yellow);
  outline: none;
}

@media screen and (min-width: 768px) {
  .modalEditUser {
    width: 480px;
    padding-left: 50px;
  }
  .editTitle {
    font-size: 18px;
    line-height: 1.33333;
    margin-top: 50px;
  }
  .avatarWrap {
    width: 380px;
    gap: 20px;
  }
  .avatar {
    width: 86px;
    height: 86px;
    border-radius: 43px;
  }
  .defaultIcon {
    width: 86px;
    height: 86px;
    border-radius: 43px;
  }
  .btnBlock {
    width: 380px;
  }
  .url {
    width: 226px;
    font-size: 14px;
    line-height: 1.28571;
  }
  .uploadBtn {
    width: 146px;
    font-size: 14px;
    line-height: 1.28571;
  }
  .inputs {
    width: 380px;
    gap: 14px;
    margin-top: 20px;
  }
  .input {
    width: 380px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
  }
  .editBtn {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 380px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
}
