.petsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}

.petsBlockTitleCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 295px;
  height: 38px;
}

.petsBlockTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-black3);
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .petsBlock {
    width: 624px;
    max-width: none;
  }
  .petsBlockTitleCont {
    width: 624px;
    height: 40px;
  }
  .petsBlockTitle {
    font-size: 18px;
    line-height: 1.33333;
  }
  .petsBlockLink {
    width: 118px;
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .petsBlock {
    width: 440px;
  }
  .petsBlockTitleCont {
    width: 440px;
  }
}
