.addPet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .addPet {
    gap: 16px;
    max-width: none;
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .addPet {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    width: 1280px;
  }
}
