.logOutBtnGeneral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 30px;
  width: 178px;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.logOutBtnGeneralProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 30px;
  padding: 12px 28px;
  width: 114px;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  white-space: nowrap;
}

.logOutBtnProfile {
  background: var(--color-beige);
  color: var(--color-yellow);
  border: none;
}

.logOutBtnProfile:hover {
  background: var(--color-dark-yellow);
  color: var(--color-black);
}

.logOutBtn:hover {
  background: var(--color-beige);
  color: var(--color-yellow);
}

.logOutBtn {
  background: var(--color-yellow);
  border: 1px solid var();
  border-radius: 30px;
  color: var(--color-light-gray2);
}

.logOutBtnHome {
  background: var(--color-yellow);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.logOutBtnHome:hover {
  background: var(--color-dark-yellow);
}

.logOutModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black2);
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .logOutBtnGeneral {
    height: 50px;
    font-size: 16px;
    line-height: 1.25;
  }
  .logOutBtnGeneralProfile {
    width: 136px;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .logOutBtnGeneral {
    width: 136px;
  }
}
