:root {
  font-family: Manrope, sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-black: #262626;
  --color-black2: rgba(0, 0, 0, 0.5);
  --color-black3: #2b2b2a;
  --color-yellow: #f6b83d;

  --color-dark-yellow: #f9b020;

  --color-beige: #fff4df;
  --color-dark-beige: #fbe7c1;

  --color-white: #ffffff;

  --color-light-gray: #fbe7c1;
  --color-light-gray2: rgba(255, 255, 255, 0.5);
  --color-light-gray3: rgba(255, 255, 255, 0.15);
  --color-gray: rgba(43, 43, 42, 0.4);
  --color-dark-gray: rgba(38, 38, 38, 0.15);
  --color-dark-gray2: rgba(38, 38, 38, 0.6);
  --color-dark-gray3: rgba(38, 38, 38, 0.05);
  --color-dark-gray4: rgba(38, 38, 38, 0.8);

  --color-red: rgb(255, 0, 0);

  --color-green: green;

  animation: 150ms ease-in;
  background-color: #f9f9f9;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overscroll-behavior: none;
  overflow-y: scroll;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }
}
