.addPetLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 30px;
  padding: 10px 16px;
  width: 103px;
  height: 38px;
  background: var(--color-yellow);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--color-white);
  white-space: nowrap;
}

.addPetLink:hover {
  background: var(--color-dark-yellow);
}

.addPetLinkIcon {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 760px) {
  .addPetLink {
    width: 118px;
    height: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
